:root {
	--primary-color:#6200EE;
	--primary-variant:#3700B3;
	--primary-variant2:#BB86FC;
	--secondary:#03DAC6;
	--secondary-variant:#018786;
	--placeholder-image:#808080;
	--background:#FFFFFF;
	--surface:#FFFFFF;
	--error:#B00020;
	--on-primary:#FFFFFF;
	--on-secondary:#000000;
	--on-background:#000000;
	--on-surface:#000000;
	--on-error:#FFFFFF;
}

body {
	margin: 0;
}

.background-navbar, #navbar {
	background-color: var(--primary-color);
	position: fixed;
	overflow: hidden;
	height: 3.5em;
	top: 0;
	margin: 0;
	width: 100%;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12); 
}

#navbar {
	max-width: 1500px;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: none;
}

.navigation {
	float: right;
	display: block;
	color: var(--on-primary);
	font-size: 1.125em;
	padding: 1em;
	text-decoration: none;
}

.navigation:hover {
	background: var(--secondary);
	color: var(--on-secondary);
}

#navbar h1 {
	display: block;
	color: rgba(255, 255, 255, 1);
	text-align: left;
	margin: 0px;
	margin-top: 0.25em;
	padding: 0px 16px;
}

#header-image {
	display: block;
	width: 100%;
	height: 300px;
	margin-top: 2.5em;
	background: var(--placeholder-image);
	box-shadow:  0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

#content {
	margin: 0;
	margin-top: 15px;
	text-align: center;
}

.card {
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); 
	margin: 0;
	margin-bottom: 15px;
	margin-left: 15px;
	margin-right: 15px;
	width: 33%;
	max-width: 333px;
	display: inline-block;
}

.inner-card {
	margin-left: 15px;
	margin-right: 15px;
}

.inner-card .card {
	width: 100%;
}

.card h1, .card h2, .card h3 {
	margin-top: 15px;
	margin-bottom: 15px;
}

.card p {
	margin-right: 15px;
	margin-left: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: left;
	display: block;
}

.card img {
	display: block;
	width: 45%;
	height: 300px;
	background: var(--placeholder-image);
	margin: 15px;
}

.card .image-full {
	margin-top: 0px;
	width: 96%;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
}

.full-width {
	width: 100%;
}

.header-bar {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	color: var(--on-surface);
	text-align: left;
	display: inline-block;
	border-bottom: 1px solid black;
}

.header-bar h2 {
	margin: 0px;
	margin-left: 1em;
	padding: 0.25em;
	display: inline-block;
}

#navbar input {
	float: right;
	display: block;
	width: 50%;
	margin-top: 1px;
	padding: 0.75em;
	max-width: 250px;
	border: 0.5px solid var(--on-surface);
	background-color: inherit;
	color: var(--on-primary);
	box-sizing: border-box;
	font-size: 1.25em;
}

::placeholder {
	color: var(--on-primary);
	opacity: 0.9;
}

.respository-info {
	width: 100%;
	display: inline-block;
}

.tag {
	margin-left: 15px;
	margin-right: 15px;
}

.tag a {
	padding: 5px;
	text-decoration: none;
	color: rgba(120, 120, 120, 0.8);
}

.header-bar button {
	float: right;
	display: block;
	padding: 0.5em;
	border: 1px solid var(--primary-color);
	background-color: inherit;
	color: var(--on-surface);
	box-sizing: border-box;
	font-size: 1.0625em;
	display:none;
}

.header-bar button:hover {
	background: var(--secondary);
	color: var(--on-secondary);
}

.section {
	margin: 0;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	width: 78%;
	max-width: 1250px;
}

/* Media queries */
@media screen and (max-width: 62.5em) {
	.card {
		width: 45%;
	}
}

@media screen and (max-width: 46.875em) {
	.card {
		width: 90%;
		max-width: 1000px;
	}
}

@media screen and (max-width: 56.25em) {
	#navbar {
		text-align: center;
	}

	#navbar h1 {
		display: none;
	}

	#navbar .navigation {
		float: none;
		display: inline-block;
		color: rgba(255, 255, 255, 1);
		text-align: center;
	}
}

@media screen and (max-width: 39.8125em) {
	.section {
		display: inline-block;
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}

	#navbar .disposable {
		display:none;
	}
}

@media screen and (max-width: 20.9375em) {
	.search-bar h2 {
		display: none;
	}

	.header-bar input {
		width: 100%;
		max-width: 100%;
		border: none;
	}
}

@media screen and (min-width: 125em) {
	.card {
		width: 32%;
	}
}