body {
	margin: 0;
}

#navbar {
	overflow: hidden;
	background-color: rgba(0, 0, 0, 1);
	position: fixed;
	top: 0;
	width: 100%;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12); 
}

#navbar a {
	float: right;
	display: block;
	color: rgba(255, 255, 255, 1);
	padding: 14px 16px;
	text-decoration: none;
}

#navbar a:hover {
	background: rgba(150, 150, 150, 1);
	color: rgba(0, 0, 0, 1);
}

#navbar h3, #navbar small {
	display: block;
	color: rgba(255, 255, 255, 1);
	text-align: left;
	margin-bottom: 0px;
	margin-top: 12.5px;
	padding: 0px 16px;
}

#navbar small {
	margin-top: 15px;
}

#navbar #smallTitle {
	display: none;
}

#content {
	margin: 0;
	margin-top: 50px;
	margin-right: 5px;
}

.blank {
	margin: 0;
	width: 10%;
	display: inline-block;
}

.card h1, .card h2, .card h3 {
	text-align: center;
}

.card p {
	margin-right: 15px;
	margin-left: 15px;
}

.card {
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); 
	margin: 0;
	margin-top: 10px;
	width: 80%;
	display: inline-block;
}

/* Hide the large text, display the small text when the width is <= 500px for small/mobile devices */
@media screen and (max-width: 500px) {
	#navbar #largeTitle {
		display: none;
	}

	#navbar #smallTitle {
		display: block;
	}

	#navbar a {
		float: center;
	}

	.blank {
		width: 3%;
	}

	.card {
		width: 94%;
	}
}

/* If the device width is too small (under 400px) then remove the title altogether */
@media screen and (max-width: 399px) {
	#navbar {
		padding-left: 5px;
		padding-right: 5px;
	}

	#navbar #smallTitle {
		display: none;
	}

	#navbar a {
		float: none;
		display: inline-block;
		color: rgba(255, 255, 255, 1);
		padding: 14px 0px;
		width: 31.75%;
		text-align: center;
	}
}