body {
	margin: 0;
	background-color: var(--surface);
	color: var(--on-surface);
}

.background-navbar, #navbar {
	background-color: var(--primary-color);
	position: fixed;
	overflow: hidden;
	height: 3.5em;
	top: 0;
	margin: 0;
	width: 100%;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12); 
}

#navbar {
	max-width: 1500px;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: none;
}

.navigation {
	float: right;
	display: block;
	color: var(--on-primary);
	font-size: 1.125em;
	padding: 1em;
	text-decoration: none;
}

.navigation:hover {
	background: var(--secondary);
	color: var(--on-secondary);
}

#navbar h1 {
	display: block;
	color: var(--on-primary);
	text-align: left;
	margin: 0px;
	margin-top: 0.25em;
	padding: 0px 16px;
}

#content {
	margin: 0;
	margin-top: calc(3em + 30px);
	text-align: center;
}

.card {
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); 
	margin: 15px;
	max-width: 300px;
	width: 33%;
	flex-grow: 1;
}

.inner-card {
	margin-left: 15px;
	margin-right: 15px;
}

.inner-card .card {
	width: 100%;
}

.card h1, .card h2, .card h3 {
	margin-top: 15px;
	margin-bottom: 15px;
}

.card p {
	margin-right: 15px;
	margin-left: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: left;
	display: block;
}

.card img {
	display: block;
	width: 45%;
	height: 300px;
	background: var(--placeholder-image);
	margin: 15px;
}

.card .image-full {
	margin-top: 0px;
	width: 96%;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
}

.full-width {
	width: 100%;
}

.row {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.header-bar {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	color: var(--on-surface);
	text-align: left;
	display: inline-block;
	border-bottom: 1px solid black;
}

.header-bar h2 {
	margin: 0px;
	margin-left: 1em;
	padding: 0.25em;
	display: inline-block;
}

#repository-search-bar {
	float: right;
	display: block;
	width: 50%;
	max-width: 125px;
	color: var(--on-surface);
	background-color: inherit;
	outline: none;
	border: rgba(120, 120, 120, 0.5) solid 1px;
	border-radius: 16px;
	padding-top: 0.8em;
	padding-right: 16px;
	padding-bottom: 0.8em;
	padding-left: 16px;
	box-sizing: inherit;
    transition: all 0.5s ease;
}

#repository-search-bar:focus {
	max-width: 250px;
}

::placeholder {
	color: var(--on-surface);
	opacity: 0.5;
}

#repository-search-icon {
	display: block;
	float: right;
	margin-top: 8px;
}

.respository-info {
	width: 100%;
	display: inline-block;
}

.tag {
	margin-left: 15px;
	margin-right: 15px;
}

.tag a {
	padding: 5px;
	text-decoration: none;
	color: var(--on-surface);
	opacity: 0.4;
}
.tag a:hover {
	color: var(--primary-color);
	opacity: 1;
}

.header-bar button {
	float: right;
	display: block;
	padding: 0.5em;
	border: 1px solid var(--primary-color);
	background-color: inherit;
	color: var(--on-surface);
	box-sizing: border-box;
	font-size: 1.0625em;
	display:none;
}

.header-bar button:hover {
	background: var(--secondary);
	color: var(--on-secondary);
}

.section {
	margin: 0;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	width: 78%;
	max-width: 1250px;
}

/* Media queries */
/* At 1000px (62.5em) 3 cards is too much, reduce to two */
@media screen and (max-width: 62.5em) {
	.card {
		width: 45%;
		max-width: 450px;
	}

	.row {
		max-width: 1000px;
	}

	.section {
		width: 90%;
	}

	.image-wrapper h2 {
		left: 48px;
	}

	.image-wrapper h3 {
		left: 64px;
	}
}

/* At 625px (39.0625em) top nav bar's header and navigation items collide */
@media screen and (max-width: 39.0625em) {
	#navbar {
		text-align: center;
	}

	#navbar h1 {
		display: none;
	}

	#navbar .navigation {
		float: none;
		display: inline-block;
		color: var(--on-primary);
		text-align: center;
	}
}

/* At 400px (25em) top nav bar begins colliding with its navigation items */
@media screen and (max-width: 25em) {
	#navbar #nav-contact {
		display: none;
	}
}

/* At 330px (21em) search bar collides with title */
@media screen and (max-width: 21em) {
	.search-bar h2 {
		display: none;
	}

	#repository-search-bar {
		width: 85%;
		max-width: 85%;
		margin-left: auto;
		margin-right: auto;
	}
}